Repository exercism/d, pull requests merged in 2024-06, with the labels that each got.

#247 add anagram
  config.json
  exercises/practice/anagram/.docs/instructions.md
  exercises/practice/anagram/.docs/introduction.md
  exercises/practice/anagram/.meta/config.json
  exercises/practice/anagram/.meta/tests.toml
  exercises/practice/anagram/dub.sdl
  exercises/practice/anagram/example/anagram.d
  exercises/practice/anagram/source/anagram.d
Labels: x:module/practice-exercise, x:rep/large

#246 Make allTestsEnabled typing consistent
  exercises/practice/pangram/source/pangram.d
  exercises/practice/prime-factors/source/prime_factors.d
Labels: x:action/sync, x:rep/tiny

#244 Sync roman-numerals tests
  exercises/practice/roman-numerals/.meta/tests.toml
  exercises/practice/roman-numerals/source/roman_numerals.d
Labels: x:action/sync, x:rep/tiny

#245 Sync pangram tests
  exercises/practice/pangram/.meta/tests.toml
  exercises/practice/pangram/source/pangram.d
Labels: x:action/sync, x:rep/tiny

#250 Add isbn-verifier exercise
  config.json
  exercises/practice/isbn-verifier/.docs/instructions.md
  exercises/practice/isbn-verifier/.meta/config.json
  exercises/practice/isbn-verifier/.meta/tests.toml
  exercises/practice/isbn-verifier/dub.sdl
  exercises/practice/isbn-verifier/example/isbn_verifier.d
  exercises/practice/isbn-verifier/source/isbn_verifier.d
Labels: x:module/practice-exercise, x:rep/large

#253 Add knapsack exercise
  config.json
  exercises/practice/knapsack/.docs/instructions.md
  exercises/practice/knapsack/.docs/introduction.md
  exercises/practice/knapsack/.meta/config.json
  exercises/practice/knapsack/.meta/tests.toml
  exercises/practice/knapsack/dub.sdl
  exercises/practice/knapsack/example/knapsack.d
  exercises/practice/knapsack/source/knapsack.d
Labels: x:module/practice-exercise, x:rep/large

#254 Add book-store exercise
  config.json
  exercises/practice/book-store/.docs/instructions.md
  exercises/practice/book-store/.meta/config.json
  exercises/practice/book-store/.meta/tests.toml
  exercises/practice/book-store/dub.sdl
  exercises/practice/book-store/example/book_store.d
  exercises/practice/book-store/source/book_store.d
Labels: x:module/practice-exercise, x:rep/large

#258 Add largest-series-product exercise
  config.json
  exercises/practice/largest-series-product/.docs/instructions.md
  exercises/practice/largest-series-product/.docs/introduction.md
  exercises/practice/largest-series-product/.meta/config.json
  exercises/practice/largest-series-product/.meta/tests.toml
  exercises/practice/largest-series-product/dub.sdl
  exercises/practice/largest-series-product/example/largest_series_product.d
  exercises/practice/largest-series-product/source/largest_series_product.d
Labels: x:module/practice-exercise, x:rep/large

#261 Add phone-number exercise
  config.json
  exercises/practice/phone-number/.docs/instructions.md
  exercises/practice/phone-number/.meta/config.json
  exercises/practice/phone-number/.meta/tests.toml
  exercises/practice/phone-number/dub.sdl
  exercises/practice/phone-number/example/phone_number.d
  exercises/practice/phone-number/source/phone_number.d
Labels: x:module/practice-exercise, x:rep/large

#260 Add kindergarten-garden exercise
  config.json
  exercises/practice/kindergarten-garden/.docs/instructions.md
  exercises/practice/kindergarten-garden/.docs/introduction.md
  exercises/practice/kindergarten-garden/.meta/config.json
  exercises/practice/kindergarten-garden/.meta/tests.toml
  exercises/practice/kindergarten-garden/dub.sdl
  exercises/practice/kindergarten-garden/example/kindergarten_garden.d
  exercises/practice/kindergarten-garden/source/kindergarten_garden.d
Labels: x:module/practice-exercise, x:rep/large

#263 Add pythagorean-triplet exercise
  config.json
  exercises/practice/pythagorean-triplet/.docs/instructions.md
  exercises/practice/pythagorean-triplet/.meta/config.json
  exercises/practice/pythagorean-triplet/.meta/tests.toml
  exercises/practice/pythagorean-triplet/dub.sdl
  exercises/practice/pythagorean-triplet/example/pythagorean_triplet.d
  exercises/practice/pythagorean-triplet/source/pythagorean_triplet.d
Labels: x:module/practice-exercise, x:rep/large

#264 Add game-of-life exercise
  config.json
  exercises/practice/game-of-life/.docs/instructions.md
  exercises/practice/game-of-life/.docs/introduction.md
  exercises/practice/game-of-life/.meta/config.json
  exercises/practice/game-of-life/.meta/tests.toml
  exercises/practice/game-of-life/dub.sdl
  exercises/practice/game-of-life/example/game_of_life.d
  exercises/practice/game-of-life/source/game_of_life.d
Labels: x:module/practice-exercise, x:rep/large

#262 Add all-your-base exercise
  config.json
  exercises/practice/all-your-base/.docs/instructions.md
  exercises/practice/all-your-base/.docs/introduction.md
  exercises/practice/all-your-base/.meta/config.json
  exercises/practice/all-your-base/.meta/tests.toml
  exercises/practice/all-your-base/dub.sdl
  exercises/practice/all-your-base/example/all_your_base.d
  exercises/practice/all-your-base/source/all_your_base.d
Labels: x:module/practice-exercise, x:rep/large

#265 Sync zebra-puzzle, now with hobbies
  exercises/practice/zebra-puzzle/.docs/instructions.md
  exercises/practice/zebra-puzzle/.docs/introduction.md
  exercises/practice/zebra-puzzle/example/zebra_puzzle.d
Labels: x:action/sync, x:rep/small

#266 Add minesweeper exercise
  config.json
  exercises/practice/minesweeper/.docs/instructions.md
  exercises/practice/minesweeper/.docs/introduction.md
  exercises/practice/minesweeper/.meta/config.json
  exercises/practice/minesweeper/.meta/tests.toml
  exercises/practice/minesweeper/dub.sdl
  exercises/practice/minesweeper/example/minesweeper.d
  exercises/practice/minesweeper/source/minesweeper.d
Labels: x:module/practice-exercise, x:rep/large
