Repository exercism/d, pull requests merged in 2024-07, with the labels that each got.

#259 Update CI test matrix
  .github/workflows/tests.yml
Labels: x:type/ci, x:rep/tiny

#269 Add micro-blog exercise
  config.json
  exercises/practice/micro-blog/.docs/instructions.md
  exercises/practice/micro-blog/.meta/config.json
  exercises/practice/micro-blog/.meta/tests.toml
  exercises/practice/micro-blog/dub.sdl
  exercises/practice/micro-blog/example/micro_blog.d
  exercises/practice/micro-blog/source/micro_blog.d
Labels: x:module/practice-exercise, x:rep/large

#270 Add protein-translation
  config.json
  exercises/practice/protein-translation/.docs/instructions.md
  exercises/practice/protein-translation/.meta/config.json
  exercises/practice/protein-translation/.meta/tests.toml
  exercises/practice/protein-translation/dub.sdl
  exercises/practice/protein-translation/example/protein_translation.d
  exercises/practice/protein-translation/source/protein_translation.d
Labels: x:module/practice-exercise, x:rep/large

#271 add secret-handshake
  config.json
  exercises/practice/secret-handshake/.docs/instructions.md
  exercises/practice/secret-handshake/.docs/introduction.md
  exercises/practice/secret-handshake/.meta/config.json
  exercises/practice/secret-handshake/.meta/tests.toml
  exercises/practice/secret-handshake/dub.sdl
  exercises/practice/secret-handshake/example/secret_handshake.d
  exercises/practice/secret-handshake/source/secret_handshake.d
Labels: x:module/practice-exercise, x:rep/large

#272 Add pig-latin
  config.json
  exercises/practice/pig-latin/.docs/instructions.md
  exercises/practice/pig-latin/.docs/introduction.md
  exercises/practice/pig-latin/.meta/config.json
  exercises/practice/pig-latin/.meta/tests.toml
  exercises/practice/pig-latin/dub.sdl
  exercises/practice/pig-latin/example/pig_latin.d
  exercises/practice/pig-latin/source/pig_latin.d
Labels: x:module/practice-exercise, x:rep/large

#273 add yacht
  config.json
  exercises/practice/yacht/.docs/instructions.md
  exercises/practice/yacht/.docs/introduction.md
  exercises/practice/yacht/.meta/config.json
  exercises/practice/yacht/.meta/tests.toml
  exercises/practice/yacht/dub.sdl
  exercises/practice/yacht/example/yacht.d
  exercises/practice/yacht/source/yacht.d
Labels: x:module/practice-exercise, x:rep/large

#275 resistor-color: sync
  exercises/practice/resistor-color/.docs/instructions.md
Labels: x:size/tiny

#276 resistor-color-duo: sync
  exercises/practice/resistor-color-duo/.docs/instructions.md
Labels: x:size/tiny

#277 Pascals to Pascal's
  config.json
Labels: x:rep/tiny

#278 Add grade-school
  config.json
  exercises/practice/grade-school/.docs/instructions.md
  exercises/practice/grade-school/.meta/config.json
  exercises/practice/grade-school/.meta/tests.toml
  exercises/practice/grade-school/dub.sdl
  exercises/practice/grade-school/example/grade_school.d
  exercises/practice/grade-school/source/grade_school.d
Labels: x:module/practice-exercise, x:rep/large
