Repository exercism/d, pull requests merged in 2024-04, with the labels that each got.

#232 Add dnd-character
  config.json
  exercises/practice/dnd-character/.docs/instructions.md
  exercises/practice/dnd-character/.meta/config.json
  exercises/practice/dnd-character/.meta/tests.toml
  exercises/practice/dnd-character/dub.sdl
  exercises/practice/dnd-character/example/dnd_character.d
  exercises/practice/dnd-character/source/dnd_character.d
Labels: x:module/practice-exercise, x:rep/medium

#229 Add binary-search exercise
  config.json
  exercises/practice/binary-search/.docs/instructions.md
  exercises/practice/binary-search/.docs/introduction.md
  exercises/practice/binary-search/.meta/config.json
  exercises/practice/binary-search/.meta/tests.toml
  exercises/practice/binary-search/dub.sdl
  exercises/practice/binary-search/example/binary_search.d
  exercises/practice/binary-search/source/binary_search.d
Labels: x:module/practice-exercise, x:rep/medium

#234 Fix range checks in dnd-character
  exercises/practice/dnd-character/source/dnd_character.d
Labels: x:action/fix, x:rep/tiny

#233 Add acronym
  config.json
  exercises/practice/acronym/.docs/instructions.md
  exercises/practice/acronym/.meta/config.json
  exercises/practice/acronym/.meta/tests.toml
  exercises/practice/acronym/dub.sdl
  exercises/practice/acronym/example/acronym.d
  exercises/practice/acronym/source/acronym.d
Labels: x:module/practice-exercise, x:rep/medium

#235 Add robot-simulator
  config.json
  exercises/practice/robot-simulator/.docs/instructions.md
  exercises/practice/robot-simulator/.meta/config.json
  exercises/practice/robot-simulator/.meta/tests.toml
  exercises/practice/robot-simulator/dub.sdl
  exercises/practice/robot-simulator/example/robot_simulator.d
  exercises/practice/robot-simulator/source/robot_simulator.d
Labels: x:module/practice-exercise, x:rep/medium

#236 scrabble-score: sync
  exercises/practice/scrabble-score/.docs/instructions.md
  exercises/practice/scrabble-score/.docs/introduction.md
Labels: x:size/tiny

#237 dnd-character: sync
  exercises/practice/dnd-character/.docs/instructions.md
  exercises/practice/dnd-character/.docs/introduction.md
Labels: x:size/tiny
